name: CI

on:
  pull_request:
    branches: [ master ]
    paths:
      - 'proto/**'

jobs:
  buf:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: bufbuild/buf-setup-action@v1
      - uses: bufbuild/buf-lint-action@v1
        with:
          input: proto
      - uses: bufbuild/buf-breaking-action@v1
        with:
          input: proto
          against: ".git#branch=origin/master"
