name: Generate

on:
  push:
    branches: [ master ]
    paths:
      - 'proto/**'
  pull_request:
    branches: [ master ]
    paths:
      - 'proto/**'

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref || github.ref }}
      
      - uses: bufbuild/buf-setup-action@v1
      
      - name: Generate Protobuf
        run: buf generate proto

      - name: Check for changes
        id: git-check
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            echo "changes=true" >> $GITHUB_OUTPUT
          fi

      - name: Commit and Push
        if: steps.git-check.outputs.changes == 'true'
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add gen
          git commit -m "chore: generate protobuf code"
          git push origin HEAD:${{ github.head_ref || github.ref }}
